.square {
  width: 20%;
  height: 20vw;
  float: left;
  padding: 2px;

  .content {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: 3px;
    border-radius: 10%;
    
    h1 {
      font-size: 8vw;
    }

    .icon-faint {
      color: #555;
    }
  }

  @keyframes shaking-animation {
    0% { transform: translate(2px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(0px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(2px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes flash-animation {
    50% { opacity: 0.1; }
  }

  @keyframes crazy-animation {
    0% { transform: scale(0.5) rotate(-90deg); }
    50% { transform: scale(1.0) rotate(0deg); }
    100% { transform: scale(0.5) rotate(90deg); }
  }

  @keyframes attract-animation {
    0% { transform: scale(1.0); }
    100% { transform: scale(1.4); opacity: 0.7; }
  }

  .shaking {
    animation-name: shaking-animation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .flashing {
    animation-name: flash-animation;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .crazy {
    animation-name: crazy-animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }

  .attracting {
    animation-name: attract-animation;
    animation-duration: 2.0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }
}

.screen-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #eee;
  border-radius: 2vw;
  width: 80vw;
  height: 35vw;
  z-index: 1;

  .screen-overlay-text {
    font-size: 6vw;
    height: 100%;

    margin-left: 5vw;
    margin-right: 5vw;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
