<ion-header>
  <ion-navbar>
    <ion-title>
      Lunch Time
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item *ngIf="currentPlayer != null">
      <ion-label>
        <h1>
          <b>
            <span>{{ currentPlayer.name }}</span>
          </b>
        </h1>
      </ion-label>

      <div item-right text-center @spinInOut *ngIf="game.extraTurns > 0">
        <ion-chip>
          <ion-label><b>{{ game.extraTurns }}</b></ion-label>
          <ion-icon color="attack" name="flash"></ion-icon>
        </ion-chip>
      </div>

      <div item-right text-center @spinInOut *ngIf="game.isReversed">
        <ion-chip>
          <ion-icon color="primary" name="refresh"></ion-icon>
        </ion-chip>
      </div>
    </ion-item>

    <ion-item *ngIf="currentPlayer == null">
      Add some players!
    </ion-item>

    <div class="square" [@square]='cell.state' *ngFor="let cell of board">
      <div class="content" (click)="select(cell)" [style.background-color]='cell.color'>
        <h1 [class]="cell.animation">
          <ion-icon [name]="cell.icon" [class.icon-faint]="!cell.revealed">

          </ion-icon>
        </h1>
      </div>
    </div>

    <ion-item>
      <span *ngFor="let player of orderedPlayers; trackBy: player?.name">
        <ion-chip text-center>
          <ion-icon [color]="player.leading ? 'danger' : 'dark'">{{ player.score }}</ion-icon>

          <ion-label>{{ player.name }}</ion-label>
        </ion-chip>
      </span>
    </ion-item>    
  </ion-list>
</ion-content>

<ion-footer no-border *ngIf="game.ended && playersAreSetUp">
  <ion-toolbar>
    <button ion-button large full block color="danger" (click)="restart()">
      <ion-label>
        Restart
      </ion-label>

      <ion-icon item-right name="refresh">

      </ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
